<!DOCTYPE html>
  <html>
      <head>
        <%- include('../partials/head'); %>
      </head>
      <body>
          <div class = "grid-container">
              <div class = "grid-item-full" style = "background-color:<%= gooddayfordata.ratingColor %>">
                  <p style = "font-size:3vw">Indoor AQI</p>
                  <p><%= gooddayfordata.aqi %></p>
              </div>
              <div class = "grid-item-full" style = "background-color:<%= gooddayfordata.ratingColor %>">
                  <p style = "font-size:3vw">Outdoor AQI</p>
                  <p><%= gooddayfordata.aqi %></p>
              </div>
          </div>
        </body>
    </html>