<!DOCTYPE html>
  <html>
      <head>
        <%- include('../partials/head'); %>
      </head>
      <body>
          <div class = "grid-container">
              <div class = "grid-item-full" style = "background-color:<%= gooddayfordata.bikingRatingColor %>">
                  <p style = "font-size:3vw">Biking</p>
                  <p><%= gooddayfordata.bikingDisplayText %></p>
              </div>
              <div class = "grid-item-full" style = "background-color:<%= gooddayfordata.hikingRatingColor %>">
                  <p style = "font-size:3vw">Hiking</p>
                  <p><%= gooddayfordata.hikingDisplayText %></p>
              </div>
          </div>
        </body>
    </html>