<!DOCTYPE html>
  <html>
      <head>
        <%- include('../partials/head'); %>
      </head>
      <body>
          <div class = "grid-container">
              <div class = "grid-item" style = "background-color:<%= purpleairdata.indoor.bgcolor %>">
                  <p style = "font-size:3vw">Indoor AQI</p>
                  <p><%= purpleairdata.indoor.aqi %></p>
              </div>
              <div class = "grid-item" style = "background-color:<%= purpleairdata.indoor.bgcolor %>">
                  <p style = "font-size:3vw">Outdoor AQI</p>
                  <p><%= purpleairdata.outdoor.aqi %></p>
              </div>
              <div class = "grid-item">
                <p style = "font-size:3vw">Indoor Details</p>
                <table>
                    <tr>
                        <th>Particle Masses</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>pm1.0</th>
                        <th>pm2.5</th>
                        <th>pm10.0</th>
                    </tr>
                    <tr>
                        <td><%= purpleairdata.indoor.pm1 %></td>
                        <td><%= purpleairdata.indoor.pm25 %></td>
                        <td><%= purpleairdata.indoor.pm10 %></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Particle Counts</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>0.3um</th>
                        <th>0.5um</th>
                        <th>1.0um</th>
                        <th>2.5um</th>
                        <th>5.0um</th>
                        <th>10.0um</th>
                    </tr>
                    <tr>
                        <td><%= purpleairdata.indoor.um03 %></td>
                        <td><%= purpleairdata.indoor.um05 %></td>
                        <td><%= purpleairdata.indoor.um1 %></td>
                        <td><%= purpleairdata.indoor.um25 %></td>
                        <td><%= purpleairdata.indoor.um5 %></td>
                        <td><%= purpleairdata.indoor.um10 %></td>
                    </tr>
                </table>
                <p style = "font-size:2vw"><%= purpleairdata.indoor.lastseen %></pr>
              </div>
              <div class = "grid-item">
                <p style = "font-size:3vw">Outdoor Details</p>
                <table>
                    <tr>
                        <th>Particle Masses</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>pm1.0</th>
                        <th>pm2.5</th>
                        <th>pm10.0</th>
                    </tr>
                    <tr>
                        <td><%= purpleairdata.outdoor.pm1 %></td>
                        <td><%= purpleairdata.outdoor.pm25 %></td>
                        <td><%= purpleairdata.outdoor.pm10 %></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Particle Counts</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>0.3um</th>
                        <th>0.5um</th>
                        <th>1.0um</th>
                        <th>2.5um</th>
                        <th>5.0um</th>
                        <th>10.0um</th>
                    </tr>
                    <tr>
                        <td><%= purpleairdata.outdoor.um03 %></td>
                        <td><%= purpleairdata.outdoor.um05 %></td>
                        <td><%= purpleairdata.outdoor.um1 %></td>
                        <td><%= purpleairdata.outdoor.um25 %></td>
                        <td><%= purpleairdata.outdoor.um5 %></td>
                        <td><%= purpleairdata.outdoor.um10 %></td>
                    </tr>
                </table>
                <p style = "font-size:2vw"><%= purpleairdata.outdoor.lastseen %></pr>
              </div>
          </div>
          <!-- script src="/purpleair/purpleairaccess.js" -->
          </script>
        </body>
    </html>